<h1>π“–γ“γ‚γΎγ§γ®γ‚„γ‚‹γ“γ¨</h1>
<% if @tasks_by_date_paginated.present? %>
  <%= paginate @tasks_by_date_paginated %>
  <div class="inner-tasklist">
    <% @tasks_by_date_paginated.each do |date, tasks| %>
      <h2><%= date %></h2>
      <% comment = Comment.find_by(date: date) %>
      <p><%= comment&.comment || 'γ‚³γƒ΅γƒ³γƒγ―γΎγ γ‚γ‚γΎγ›γ‚“γ€‚' %></p>
      <% if comment %>
        <%= link_to 'γ‚³γƒ΅γƒ³γƒγ‚’η·¨ι›†', edit_comment_path(comment) %>
      <% else %>
        <%= link_to 'γ‚³γƒ΅γƒ³γƒγ‚’θΏ½ε ', new_comment_path(date: date) %>
      <% end %>
      <ul>
        <% tasks.each do |task| %>
          <% if @show_uncompleted || task.completed %>
            <li>
              <div class="inner-task">
                <h3 class="<%= 'completed' if task.completed %>"><%= task.title %></h3>
                <%= task.content %>
                <% if task.completed %>
                  <span class="status-label">π„γ§γγ</span>
                <% else %>
                  <span class="status-label">π¥¶γ§γγγ‹γ£γ</span>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= paginate @tasks_by_date_paginated %>
<% end %>
