<div class="page-title">
  <h1>📖これまでのやること</h1>
</div>
<div class="paginate">
  <% if @tasks_by_date_paginated.present? %>
    <%= paginate @tasks_by_date_paginated %>
    <div class="inner-tasklist">
      <% @tasks_by_date_paginated.each do |date, tasks| %>
        <div class="date-and-delete">
          <h2><%= date %></h2>
          <%= button_to "この日のタスクを消す", destroy_by_date_tasks_path(date: date), method: :delete, data: { confirm: 'この日に作成された全タスクを削除します。よろしいですか？' } , class: 'small-delete-button'%>
          <% comment = Comment.find_by(date: date) %>
        </div>
        <div class="comment-container">
          <% if comment&.comment %>
            <span class="comment-emoji">😄</span> <span class="date-comment"><%= comment.comment %></span>
          <% else %>
            <span class="comment-emoji">👀</span> <span class="date-comment">コメントはまだありません。</span>
          <% end %>
        </div>
        <div class="comment-container">
          <% if comment %>
            <%= link_to 'コメントを編集', edit_comment_path(comment) , class: 'small-edit-button'%>
            <%= button_to 'コメントを削除', comment_path(comment),  class: 'small-delete-button',method: :delete, data: { confirm: 'このコメントを削除します。よろしいですか？' } %>
          <% else %>
            <%= link_to 'コメントを追加', new_comment_path(date: date) , class: 'small-edit-button'%>
          <% end %>
        </div>
        <ul>
          <% tasks.each do |task| %>
            <% if @show_uncompleted || task.completed %>
              <li>
                <div class="inner-task">
                  <h3 class="<%= 'completed' if task.completed %>"><%= task.title %></h3>
                  <%= task.content %>
                  <% if task.completed %>
                    <span class="status-label">😄できた</span>
                  <% else %>
                    <span class="status-label">🥶できなかった</span>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
