<h1>📖これまでのやること</h1>
<% if @tasks_by_date_paginated.present? %>
  <%= paginate @tasks_by_date_paginated %>
  <div class="inner-tasklist">
    <% @tasks_by_date_paginated.each do |date, tasks| %>
      <h2><%= date %></h2>
      <%= button_to "けす", destroy_by_date_tasks_path(date: date), method: :delete, data: { confirm: 'この日に作成された全タスクを削除します。よろしいですか？' } %>
      <% comment = Comment.find_by(date: date) %>
      <p><%= comment&.comment || 'コメントはまだありません。' %></p>
      <% if comment %>
        <%= link_to 'コメントを編集', edit_comment_path(comment) %>
      <% else %>
        <%= link_to 'コメントを追加', new_comment_path(date: date) %>
      <% end %>
      <ul>
        <% tasks.each do |task| %>
          <% if @show_uncompleted || task.completed %>
            <li>
              <div class="inner-task">
                <h3 class="<%= 'completed' if task.completed %>"><%= task.title %></h3>
                <%= task.content %>
                <% if task.completed %>
                  <span class="status-label">😄できた</span>
                <% else %>
                  <span class="status-label">🥶できなかった</span>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= paginate @tasks_by_date_paginated %>
<% end %>
