<h1>設定を編集</h1>
<%= form_with(model: @setting, url: settings_path, method: :patch) do |form| %>
  <% (1..10).each do |i| %>
    <div class="form-group">
      <%= form.label "reward_url#{i}", "報酬 URL #{i}" %>
      <%= form.text_field "reward_url#{i}", placeholder: @setting.send("reward_url#{i}") %>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :show_uncompleted_todos, "未完了のTODOを表示" %>
    <%= form.check_box :show_uncompleted_todos %>
  </div>
  <div class="form-group">
    <%= form.label :display_background, "背景表示" %>
    <%= form.text_field :display_background, placeholder: @setting.display_background %>
  </div>
  <%= form.submit "更新", class: "save-button" %>
<% end %>
<%= link_to 'キャンセル', settings_path, class: "cancel-button" %>
