<!DOCTYPE html>
<html>
  <head>
    <title>RubyKidsTodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body style="<%= background_image_style(@setting.display_background) %>">
    <header>
      <div class="header-container">
        <div class="header-title"><%= link_to 'Kids Todo App', root_path %></div>
        <nav>
          <%= link_to 'ðŸ“ãã‚‡ã†ã®ã‚„ã‚‹ã“ã¨', root_path %>
          <%= link_to 'ðŸ“–ã“ã‚Œã¾ã§ã®ã‚„ã‚‹ã“ã¨', past_tasks_tasks_path %>
          <%= link_to 'è¨­å®š', settings_path %>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
